body {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif}

div {
	width: 100%;
	text-align: center;
}

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	height: 50px;
}

th, td {
	padding: 15px;
	text-align: left;
}

tr:nth-child {background-color: #f2f2f2}

th {
	background-color: #4CAF50;
	color: white;
}

input[type="number"] {
	width: 70px;
}